<template>
  <div class="container">
    <h3 class="title">Editar empleado</h3>
    <form @submit.prevent="submitForm">
      <div class="row form">
        <div class="col-md-6">
          <div class="FormGroup">
            <label>Primer apellido <span className="required-input">*</span></label>
            <input
              className="form-control"
              type="text"
              autoFocus
              maxLength="20"
              v-model="primer_apellido"
              @input="validateInput"
              required
            />
          </div>
        </div>
        <div class="col-md-6">
          <div class="FormGroup">
            <label>Segundo apellido <span className="required-input">*</span></label>
            <input
              className="form-control"
              type="text"
              maxLength="20"
              v-model="segundo_apellido"
              @input="validateInput"
              required
            />
          </div>
        </div>
      </div>

      <div class="row form">
        <div class="col-md-6">
          <div class="FormGroup">
            <label>Primer nombre <span className="required-input">*</span></label>
            <input
              className="form-control"
              type="text"
              autoFocus
              maxLength="20"
              v-model="primer_nombre"
              @input="validateInput"
              required
            />
          </div>
        </div>
        <div class="col-md-6">
          <div class="FormGroup">
            <label>Otros nombres <span className="required-input">*</span></label>
            <input
              className="form-control"
              type="text"
              maxLength="20"
              v-model="otros_nombres"
              @input="validateInput"
            />
          </div>
        </div>
      </div>

      <div class="row form">
        <div class="col-md-6">
          <div class="FormGroup">
            <label>País de empleo <span className="required-input">*</span></label>
            <select className="form-control"
              name="activo"
              v-model="pais_empleo"
              required
            >
              <option value="">Seleccione País</option>
              <option value="Colombia">Colombia</option>
              <option value="Estados Unidos">Estados Unidos</option>
            </select>
          </div>
        </div>
        <div class="col-md-6">
          <div class="FormGroup">
            <label>Tipo de identificación <span className="required-input">*</span></label>
              <select className="form-control"
                name="activo"
                v-model="tipo_identificacion"
                required
              >
                <option value="">Seleccione tipo de identificación</option>
                <option value="Cédula de Ciudadanía">Cédula de Ciudadanía</option>
                <option value="Cédula de Extranjería">Cédula de Extranjería</option>
                <option value="Pasaporte">Pasaporte</option>
                <option value="Permiso especial">Permiso especial</option>
            </select>            
          </div>
        </div>
      </div>

      <div class="row form">
        <div class="col-md-6">
          <div class="FormGroup">
            <label>Número de identificación <span className="required-input">*</span></label>
            <input
              className="form-control"
              type="text"
              autoFocus
              maxLength="20"
              v-model="numero_identificacion"
              required
            />
          </div>
        </div>
        <div class="col-md-6">
          <div class="FormGroup">
            <label>Fecha de ingreso <span className="required-input">*</span></label>
            <input
              className="form-control"
              type="date"
              v-model="fecha_ingreso"
              required
            />
            <span v-if="invalidDate" class="required-input">La fecha seleccionada no es válida.</span>
          </div>
        </div>
      </div>

      <div class="row form">
        <div class="col-md-6">
          <div class="FormGroup">
            <label>Área <span className="required-input">*</span></label>
              <select className="form-control"
                name="activo"
                v-model="area"
                required
              >
                <option value="">Seleccione el área</option>
                <option value="Administración Financiera">Administración Financiera</option>
                <option value="Compras">Compras</option>
                <option value="Infraestructura">Infraestructura</option>
                <option value="Desarrollo">Desarrollo</option>
                <option value="Innovación">Innovación</option>
                <option value="Operación">Operación</option>
                <option value="Talento Humano">Talento Humano</option>
                <option value="Servicios Varios">Servicios Varios</option>
            </select>            
          </div>
        </div>
      </div>

      <br />
      <div class="row form center">
        <div class="col-md-12 text-center">
          <button type="submit" class="btn btn-primary btn-sm mx-3">
            Guardar
          </button>
          <button type="button" class="btn btn-warning btn-sm mx-3">
            Cancelar
          </button>
        </div>
      </div>
    </form>
  </div>
</template>

<script>
import { useRoute } from "vue-router";

import EmployeeService from "@/modules/employee/services/EmployeeService";

export default {
  name: "employeeEdit",
  data() {
    return {
      employee: [],
      primer_apellido: "",
      segundo_apellido: "",
      primer_nombre: "",
      otros_nombres: "",
      pais_empleo: "",
      tipo_identificacion: "",
      numero_identificacion: "",
      fecha_ingreso: "",
      area: "",
      invalidDate: false,
    };
  },
  setup() {
    const router = useRoute();

    const itemId = router.params.id;

    const redirect = () => {
      this.router.push("/");
    };

    return {
      redirect,
      itemId,
    };
  },
  methods: {
    async loadEmployee(itemId) {
      try {
        const response = await EmployeeService.getEmployee(itemId);
        this.employee = response.data?.employee[0];
        this.primer_apellido = this.employee.primer_apellido
        this.segundo_apellido = this.employee.segundo_apellido
        this.primer_nombre = this.employee.primer_nombre
        this.otros_nombres = this.employee.otros_nombres
        this.pais_empleo = this.employee.pais_empleo
        this.tipo_identificacion = this.employee.tipo_identificacion
        this.numero_identificacion = this.employee.numero_identificacion
        this.fecha_ingreso = this.employee.fecha_ingreso
        this.area = this.employee.area
      } catch (error) {
        console.error(error);
      }
    },
    async editEmployee(data) {
      try {
        const response = await EmployeeService.putEmployees(this.itemId, data);
        if (response.status === 200) {
          // Redirect al listado
          this.redirect();
        }
      } catch (error) {
        alert(error)
        console.error(error);
      }
    },
    validateInput() {
      this.primer_apellido = this.primer_apellido.replace(/[^a-zA-Z0-9\s]/g, '');
      this.segundo_apellido = this.segundo_apellido.replace(/[^a-zA-Z0-9\s]/g, '');
      this.primer_nombre = this.primer_nombre.replace(/[^a-zA-Z0-9\s]/g, '');
      this.otros_nombres = this.otros_nombres.replace(/[^a-zA-Z0-9\s]/g, '');
    },
    validateDate() {
      const today = new Date();
      const selectedDate = new Date(this.fecha_ingreso);
      const monthAgo = new Date();
      monthAgo.setMonth(monthAgo.getMonth() - 1);
      return selectedDate.getTime() <= today.getTime() && selectedDate.getTime() >= monthAgo.getTime();
    },
    async submitForm() {
      if (!this.validateDate()) {
        this.invalidDate = true;
        return;
      }
        
      this.invalidDate = false;
      
      const formData = {
        primer_apellido: this.primer_apellido,
        segundo_apellido: this.segundo_apellido,
        primer_nombre: this.primer_nombre,
        otros_nombres: this.otros_nombres,
        pais_empleo: this.pais_empleo,
        tipo_identificacion: this.tipo_identificacion,
        numero_identificacion: this.numero_identificacion,
        fecha_ingreso: this.fecha_ingreso,
        area: this.area,
      };
      // Aquí es donde enviaríamos los datos del formulario a la API para guardar
      this.editEmployee(formData)
    },
  },
  async created() {
    this.loadEmployee(this.itemId);
  },  
}
</script>

<style scope>
.title {
  color: #42b983;
}
.required-input {
  color: #ff0000;
  font-size: 12px;
}
</style>