<template>
  <div class="">
    <h4>Lista de empleados</h4>
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Primer apellido</th>
            <th scope="col">Segundo apellido</th>
            <th scope="col">Primer nombre</th>
            <th scope="col">Otros nombres</th>
            <th scope="col">País empleo</th>
            <th scope="col">Tipo identificación</th>
            <th scope="col">Numero identificación</th>
            <th scope="col">Correo</th>
            <th scope="col">Fecha Ingreso</th>
            <th scope="col">Área</th>
            <th scope="col">Estado</th>
            <th scope="col">Fecha registro</th>
            <th scope="col">Fecha edición</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(employee, index) in employees" :key="index">
            <th scope="row"><button class="btn btn-primary btn-sm" @click="redirect(employee.uid)">Editar</button></th>
            <td>{{ employee.primer_apellido }}</td>
            <td>{{ employee.segundo_apellido }}</td>
            <td>{{ employee.primer_nombre }}</td>
            <td>{{ employee.otros_nombres }}</td>
            <td>{{ employee.pais_empleo }}</td>
            <td>{{ employee.tipo_identificacion }}</td>
            <td>{{ employee.numero_identificacion }}</td>
            <td>{{ employee.correo }}</td>
            <td>{{ employee.fecha_ingreso }}</td>
            <td>{{ employee.area }}</td>
            <td>{{ employee.estado }}</td>
            <td>{{ employee.fecha_registro }}</td>
            <td>{{ employee.fecha_edicion }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
import { useRouter } from 'vue-router';

import EmployeeService from "@/modules/employee/services/EmployeeService";

export default {
  name: "employeeList",
  data() {
    return {
      employees: [],
      pagination: {
        total: 0,
        current_page: 0,
        per_page: 0,
        last_page: 0,
        from: 0,
        to: 0,
      },
    };
  },
  setup() {
    const router = useRouter();

    const redirect = (id) => {
      router.push(`/edit/${id}`);
    };

    return {
      redirect,
    };
  },
  methods: {
    async loadEmployees() {
      try {
        const response = await EmployeeService.getEmployees();
        this.employees = response.data.employees;
        this.pagination.total = response.data.employees.length
      } catch (error) {
        console.error(error);
      }
    },
  },
  async created() {
    this.loadEmployees();
  },
};
</script>

<style scope>

tr {
  font-size: 12px;
}
td {
  font-size: 12px;
}
</style>